<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
    @Styles.Render("~/Content/css")
</head>
<body ng-app="app" ng-controller="AppController">
    <div id="splash" ng-cloak>
        <div id="splash-spinner"></div>
    </div>
    <div class="navbar">
        @Html.Partial("_Images")
    </div>

    <div class="container-fluid body-content" ng-cloak>
        @RenderBody()
        <hr />
        @Html.Partial("_UploadFooter")
    </div>
    <div ng-helper-busy></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyAuCLNtXXLsl8P0J2T-rj0BJ1db6PGWo"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Assets/plugins")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Angular/")
    @Scripts.Render("~/AngularScript/")
    @Scripts.Render("~/AngularApp/")
    <script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>
    <script src="/Scripts/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>